/* Reset some default styles for body and html */
body,
html {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}


/* Header styles */
.main-header {
  margin-bottom: 20px;
  margin-top: 0;
}


/* SIDEBAR___________________________________________________________ */


.sidebar {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
}

.sidebar-content {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}


.sidebar h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.sidebar-intro {
  font-weight: bold;
}

.sidebar-outro {
  font-style: italic;
}

.sidebar-divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 15px 0;
}

/* _______________________Main content styles_______________________________ */
.main-content {
  padding: 40px; /* Increased padding */
  background-color: #ffffff; /* Light background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Comfortable reading size */
  line-height: 1.6; /* Optimal line height for readability */
  color: #333333; /* Dark enough for good contrast */
  transition: all 0.3s ease-in-out; /* Smooth transition for hover effects */
  max-width: 1200px; /* Maximum width for content area */
  margin: auto; /* Center the content */
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    padding: 20px; /* Less padding on smaller screens */
  }
}


/* Add a subtle box shadow to the header for depth */
.main-header {
  background-color: #ff8c00;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

/* Add a hover effect to the header */
.main-header:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Slightly larger box shadow on hover */
}

.sidebar {
  background-color: #f0f8ff; /* Light blue background */
}

.category-list li a:hover {
  background-color: #e6f2ff; /* Very light blue on hover */
}


.logo-container img {
  height: 50px; /* Adjust as needed */
}

.nav-menu {
  display: flex;
}

.nav-item {
  position: relative; /* For absolute positioning of underline */
  margin: 0 10px;
  cursor: pointer;
}

.nav-item.active .underline,
.nav-item:hover .underline {
  width: 100%;
  height: 3px;
  background-color: #ff8c00; /* Adjust the color to match the screenshot */
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  left: 0;
}

.nav-link,
.nav-icon {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav-icons {
  display: flex;
}

.nav-icon {
  margin: 0 15px;
  font-size: 20px; /* Adjust as needed */
}

/* Use media queries for responsiveness as needed */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 10px; /* Gives some space between the logo and the text */
}

.header-text h1,
.header-text p {
  margin: 0;
  padding-left: 10px; /* Adds some space between the logo and the text */
}

.header-text h1 {
  font-size: 1.5em; /* Large text for the main title */
  color: #333; /* Or any color you wish */
}

.header-text p {
  font-size: 1em; /* Smaller text for the subtitle */
  color: #666; /* Or any color you wish */
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

/* Reset and base styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* Header and Navigation */
.header {
  background-color: #f8f8f8; /* Lighter background for header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px; /* Adjust padding as needed */
}

.sidebar ul {
  list-style-type: none; /* No bullets for a clean look */
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding: 8px 0; /* Vertical padding for list items */
  display: block; /* Full-width clickable area */
}

/* Navbar Menu */
.nav-menu a,
.nav-icons a {
  text-decoration: none;
  color: rgb(0, 0, 0); /* White text color */
  margin-left: 20px;
  font-weight: bold;
}

.nav-menu a:hover,
.nav-icons a:hover {
  color: #ff8c00; /* Orange color for hover state */
}

/* Category List Styles */
.category-list li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.category-list li a:hover {
  background-color: #f9f9f9;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-menu,
  .nav-icons {
    display: none; /* Hide navigation links on smaller screens */
  }

  .content-header h1,
  .content-header p {
    font-size: 18px;
  }
}


/* Dropdown Menu Styles */

/* Hide the dropdown menu by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  z-index: 1;
  width: auto; /* Adjusted to auto for flexible width */
  /* Removed max-height for auto-adjustment */
  padding: 5px 0; /* Vertical padding for the entire dropdown */
  border-radius: 4px; /* Rounded corners */
  white-space: nowrap; /* Ensure the text does not wrap */
}

.dropdown-content a {
  color: #333;
  padding: 8px 12px; /* Reduced and uniform padding */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  font-size: 14px; /* Smaller font size */
  font-weight: normal; /* Ensures text is not bold */
}

/* Style the individual links within the dropdown */
.dropdown-content a {
  color: #333;
  padding: 8px 12px; /* Reduced and uniform padding */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  font-size: 14px; /* Smaller font size */
}

/* Change background color on hover */
.dropdown-content a:hover {
  background-color: #f2f2f2; /* Light grey background on hover */
}

/* Display the dropdown when hovering over the parent element */
.dropdown:hover .dropdown-content {
  display: block;
  column-count: 3; /* Adjust the number of columns as needed */
  column-gap: 15px; /* Space between columns */
}



.main-content {
  /* Sørger for at indholdet centreres og har plads rundt om sig */
  max-width: 1500px;
  margin: auto;
  padding: 20px;
}

.product-grid {
  /* Definerer et grid layout med to kolonner og en gap mellem elementerne */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.product-item {
  /* Højden kan justeres efter behov */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.product-item h2 {
  /* Gør teksten mere læsbar over billedet */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.news-updates {
  font-family: "Arial", sans-serif; /* Example font */
  margin-left: 20px; /* Adjust as necessary for alignment */
  margin-right: 20px;
}

.news-updates h2 {
  font-size: 1.5em; /* Larger font size for headings */
  margin-bottom: 10px; /* Space below heading */
}

.news-updates p,
.news-updates ol {
  font-size: 1em; /* Standard font size for body text */
  line-height: 1.6; /* Adjust line spacing */
  text-align: left; /* Align text to the left */
  margin-bottom: 10px; /* Space below paragraphs and lists */
}

.news-updates ol {
  padding-left: 20px; /* Indentation for list items */
}

.news-updates li {
  margin-bottom: 5px; /* Space between list items */
}

/* Add this in your existing CSS file */
.search-container {
  position: relative;
  display: flex;
  align-items: center; /* Center the icon vertically */
}

.search-icon {
  cursor: pointer;
  margin-right: 8px; /* Add some space between the icon and the input */
}

.search-bar {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 200px; /* Adjust the width as needed */
  z-index: 1; /* Ensure the search bar is above other elements */
}

/* Style the search input */
#searchInput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the search button (if needed) */
#searchButton {
  margin-top: 8px;
  padding: 8px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

#cartItem {
  position: relative;
}

.cart-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  min-width: 200px; /* Adjust the width as needed */
  z-index: 1;
}

#cartItem:hover .cart-content {
  display: block;
}

.cart-item {
  font-size: 14px; /* Adjust the font size as needed */
}

.go-to-basket-button {
  display: block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f0f8ff; /* Light blue background */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.go-to-basket-button:hover {
  background-color: #f0f8ff; /* Light blue background */
}

footer {

  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer section {
  margin-right: 20px;
  flex: 1;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  padding: 5px 0;
}


.social-media a {
  display: inline-block;
  margin-right: 10px;
  color: #fff; /* Change as needed */
  font-size: 24px; /* Adjust icon size as needed */
}

.social-media a:hover {
  color: #ddd; /* Slightly lighter color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer {
      flex-direction: column;
      text-align: center;
  }

  .social-media {
      order: 3; /* Make sure social media links are at the bottom on mobile */
      margin-top: 20px; /* Add some space above the social media links */
  }
}






.slider {
  width: 100%;
  overflow: hidden; /* Ensures only one slide is visible at a time */
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%; /* Each slide takes the full width of the slider */
  text-align: center; /* Centers the caption */
}

.slide img {
  width: 5%; /* Ensures the image fills the slide */
  height: auto; /* Maintains aspect ratio */
}

.caption {
  background-color: #ff8c00; /* Semi-transparent background */
  color: #000000;
  padding: 8px;
}




.product-item-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit; /* Keeps the text color consistent */
  background-size: cover;
  background-position: center;
}

.product-item-link h2 {
  /* Style for the text inside the link */
  margin: 0;
  padding: 10px; /* Adjust as necessary */
  background-color: rgba(255, 255, 255, 0.7); /* Optional for better text visibility */
}





.popup {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #f1f1f1;
  border: 2px solid #0077b6;
  border-bottom-left-radius: 50px 20px;
  border-top-left-radius: 50px 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(175, 102, 102, 0.2);
  width: 150px;
  display: none;
  z-index: 100;
}


#newsletter-form {
  display: flex;
  flex-direction: column;
}

#newsletter-form label,
#newsletter-form input,
#newsletter-form button {
  margin-bottom: 10px;
}

.popup.show {
  display: block;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

/* Optional: Style on hover */
.close-button:hover {
  color: red;
}

.hidden {
  display: none;
}

/* Styles for subscription message */
#subscription-message {
  text-align: center;
  color: green;
  font-size: 18px;
  margin-top: 20px;
}
