/* Reset some default styles for body and html */
body,
html {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

/* Header styles */
.main-header {
  margin-bottom: 20px;
  margin-top: 0;
}

/* SIDEBAR___________________________________________________________ */

.sidebar {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-align: center;
}

.sidebar-content {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.sidebar h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.sidebar-intro {
  font-weight: bold;
}

.sidebar-outro {
  font-style: italic;
}

.sidebar-divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 15px 0;
}

/* _______________________Main content styles_______________________________ */

.sidebar {
  background-color: #f0f8ff; /* Light blue background */
}

.category-list li a:hover {
  background-color: #e6f2ff; /* Very light blue on hover */
}

.logo-container img {
  height: 50px; /* Adjust as needed */
}

.nav-menu {
  display: flex;
}

.nav-item {
  position: relative; /* For absolute positioning of underline */
  margin: 0 10px;
  cursor: pointer;
}

.nav-item.active .underline,
.nav-item:hover .underline {
  width: 100%;
  height: 3px;
  background-color: #ff8c00; /* Adjust the color to match the screenshot */
  position: absolute;
  bottom: -10px; /* Adjust as needed */
  left: 0;
}

.nav-link,
.nav-icon {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav-icons {
  display: flex;
}

.nav-icon {
  margin: 0 15px;
  font-size: 20px; /* Adjust as needed */
}

/* Use media queries for responsiveness as needed */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  margin-right: 10px; /* Gives some space between the logo and the text */
}

.header-text h1,
.header-text p {
  margin: 0;
  padding-left: 10px; /* Adds some space between the logo and the text */
}

.header-text h1 {
  font-size: 1.5em; /* Large text for the main title */
  color: #333; /* Or any color you wish */
}

.header-text p {
  font-size: 1em; /* Smaller text for the subtitle */
  color: #666; /* Or any color you wish */
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

/* Reset and base styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  line-height: 1.6;
}

/* Header and Navigation */
.header {
  background-color: #f8f8f8; /* Lighter background for header */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px; /* Adjust padding as needed */
}

.sidebar ul {
  list-style-type: none; /* No bullets for a clean look */
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  padding: 8px 0; /* Vertical padding for list items */
  display: block; /* Full-width clickable area */
}

/* Navbar Menu */
.nav-menu a,
.nav-icons a {
  text-decoration: none;
  color: rgb(0, 0, 0); /* White text color */
  margin-left: 20px;
  font-weight: bold;
}

.nav-menu a:hover,
.nav-icons a:hover {
  color: #ff8c00; /* Orange color for hover state */
}

/* Category List Styles */
.category-list li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}

.category-list li a:hover {
  background-color: #f9f9f9;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-menu,
  .nav-icons {
    display: none; /* Hide navigation links on smaller screens */
  }

  .content-header h1,
  .content-header p {
    font-size: 18px;
  }
}

/* _______________________Modal content styles_______________________________ */

/* Add this to your existing CSS file or create a new one */

.nav-icon {
  cursor: pointer;
  margin-right: 8px; /* Add some space between the icon and the input */
}

/* Style for User modal */
#userModal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#userModal.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* Other styles remain unchanged */

/* Style for the modal content */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ddd;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  animation: fadeIn 0.3s ease-in-out; /* Add the animation property */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #333;
}

/* Style for the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

/* Style for the login form inside the modal */
form {
  padding: 0 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  border-color: #333;
  outline: none;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 12px 0;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
}

button:hover {
  background-color: #2980b9;
}

/* Style for the additional options (forgot password and create account) */
.additional-options {
  margin-top: 20px;
  text-align: center;
}

.additional-options p {
  margin-bottom: 8px;
  color: #666;
}

.additional-options a {
  color: #3498db;
  text-decoration: none;
  transition: 0.3s;
}

.additional-options a:hover {
  text-decoration: underline;
  color: #2980b9;
}

/* Style for the create user modal */
#createUserModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Style for the create user modal content */
#createUserModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ddd;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* Style for the close button in the create user modal */
#createUserModal .close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
}

#createUserModal .close:hover,
#createUserModal .close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

/* Style for the login form inside the create user modal */
#createUserModal form {
  padding: 0 16px;
}

#createUserModal label {
  display: block;
  margin-bottom: 8px;
}

#createUserModal input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#createUserModal input:focus {
  border-color: #333;
  outline: none;
}

#createUserModal button {
  background-color: #3498db;
  color: #fff;
  padding: 12px 0;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
}

#createUserModal button:hover {
  background-color: #2980b9;
}

/* Style for the additional options in the create user modal */
#createUserModal .additional-options {
  margin-top: 20px;
  text-align: center;
}

#createUserModal .additional-options p {
  margin-bottom: 8px;
  color: #666;
}

#createUserModal .additional-options a {
  color: #3498db;
  text-decoration: none;
  transition: 0.3s;
}

#createUserModal .additional-options a:hover {
  text-decoration: underline;
  color: #2980b9;
}

/* Style for the forgot password modal */
#forgotPasswordModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Style for the forgot password modal content */
#forgotPasswordModal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ddd;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* Style for the close button in the forgot password modal */
#forgotPasswordModal .close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  transition: 0.3s;
}

#forgotPasswordModal .close:hover,
#forgotPasswordModal .close:focus {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

/* Style for the login form inside the forgot password modal */
#forgotPasswordModal form {
  padding: 0 16px;
}

#forgotPasswordModal label {
  display: block;
  margin-bottom: 8px;
}

#forgotPasswordModal input {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#forgotPasswordModal input:focus {
  border-color: #333;
  outline: none;
}

#forgotPasswordModal button {
  background-color: #3498db;
  color: #fff;
  padding: 12px 0;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 17px;
}

#forgotPasswordModal button:hover {
  background-color: #2980b9;
}

/* Style for the additional options in the forgot password modal */
#forgotPasswordModal .additional-options {
  margin-top: 20px;
  text-align: center;
}

#forgotPasswordModal .additional-options p {
  margin-bottom: 8px;
  color: #666;
}

#forgotPasswordModal .additional-options a {
  color: #3498db;
  text-decoration: none;
  transition: 0.3s;
}

#forgotPasswordModal .additional-options a:hover {
  text-decoration: underline;
  color: #2980b9;
}

/* Dropdown Menu Styles */

/* Hide the dropdown menu by default */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  z-index: 1;
  width: auto; /* Adjusted to auto for flexible width */
  /* Removed max-height for auto-adjustment */
  padding: 5px 0; /* Vertical padding for the entire dropdown */
  border-radius: 4px; /* Rounded corners */
  white-space: nowrap; /* Ensure the text does not wrap */
}

.dropdown-content a {
  color: #333;
  padding: 8px 12px; /* Reduced and uniform padding */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  font-size: 14px; /* Smaller font size */
  font-weight: normal; /* Ensures text is not bold */
}

/* Style the individual links within the dropdown */
.dropdown-content a {
  color: #333;
  padding: 8px 12px; /* Reduced and uniform padding */
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  font-size: 14px; /* Smaller font size */
}

/* Change background color on hover */
.dropdown-content a:hover {
  background-color: #f2f2f2; /* Light grey background on hover */
}

/* Display the dropdown when hovering over the parent element */
.dropdown:hover .dropdown-content {
  display: block;
  column-count: 3; /* Adjust the number of columns as needed */
  column-gap: 15px; /* Space between columns */
}

.product-grid {
  /* Definerer et grid layout med to kolonner og en gap mellem elementerne */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.product-item {
  /* Højden kan justeres efter behov */
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}

.product-item h2 {
  /* Gør teksten mere læsbar over billedet */
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
}

footer {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer section {
  margin-right: 20px;
  flex: 1;
}

.footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  padding: 5px 0;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
  color: #fff; /* Change as needed */
  font-size: 24px; /* Adjust icon size as needed */
}

.social-media a:hover {
  color: #ddd; /* Slightly lighter color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .social-media {
    order: 3; /* Make sure social media links are at the bottom on mobile */
    margin-top: 20px; /* Add some space above the social media links */
  }
}

.slider {
  width: 100%;
  overflow: hidden; /* Ensures only one slide is visible at a time */
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 100%; /* Each slide takes the full width of the slider */
  text-align: center; /* Centers the caption */
}

.slide img {
  width: 5%; /* Ensures the image fills the slide */
  height: auto; /* Maintains aspect ratio */
}

.caption {
  background-color: #ff8c00; /* Semi-transparent background */
  color: #000000;
  padding: 8px;
}

.product-item-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit; /* Keeps the text color consistent */
  background-size: cover;
  background-position: center;
}

.product-item-link h2 {
  /* Style for the text inside the link */
  margin: 0;
  padding: 10px; /* Adjust as necessary */
  background-color: rgba(255, 255, 255, 0.7); /* Optional for better text visibility */
}

/* Typography */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px; /* Base font size */
  line-height: 1.6; /* Line height for readability */
  color: #333; /* Primary text color */
  background-color: #f4f4f4; /* Background color */
}

h2,
h3 {
  color: #ff8c00; /* Headings color to match the top bar */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* MAIN CONTENT STYLE */

/* Updated styles for main content */
/* Grid layout for main content */
.main-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}

/* Styling for user info container */
.user-info {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
}

/* Styling for heading */
h1.headerBruger {
  margin-top: 1, 5em;
  margin-bottom: 1, 5em;
}

/* Responsive styles for small screens */
@media only screen and (max-width: 600px) {
  .main-content {
    grid-template-columns: 1fr;
  }
}

/* Styling for the table within main-content */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 20px;
}

/* Styling for table header */
thead {
  background-color: #3498db;
  color: #fff;
}

/* Styling for table cells */
th,
td {
  padding: 15px;
  text-align: left;
}

/* Hover effect for table rows */
tbody tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

/* Navigation */
.nav-menu {
  display: flex;
  justify-content: center; /* Center align nav items */
  list-style: none; /* Remove default list styling */
  padding-left: 0; /* Remove default padding */
}

.nav-item {
  padding: 10px 15px; /* Uniform padding for clickable area */
  margin: 0 5px; /* Space between menu items */
}

.nav-item a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Menu item color */
  font-weight: bold;
}

.nav-item a:hover,
.nav-item a:focus {
  color: #ff8c00; /* Hover and focus state color */
}

/* STYLING AF LOGIN USER */

.login-form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-form-container form {
  margin-top: 20px;
}

.login-form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form-container label {
  display: block;
  margin-bottom: 5px;
}

.login-form-container input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.login-form-container button {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  background-color: #ff8c00;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.login-form-container button[data-action="cancel"] {
  background-color: #ccc;
  color: #333;
}

.additional-options {
  margin-top: 20px;
  text-align: center;
}

.additional-options p {
  margin-bottom: 10px;
}

/* STYLING AF CREATE USER BUTTON */
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

button[data-action="close"] {
  position: absolute;
  top: 0.5px;
  right: 0px;
  background: transparent;
  border: 0;
  font-size: 20px;
  line-height: 10px;
  cursor: pointer;
  color: #999;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

input {
  display: block;
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

button {
  display: block;
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.6;
  color: #fff;
  background-color: #3498db;
  background-image: none;
  border: 1px solid #3498db;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;
}

button[data-action="cancel"] {
  background-color: #e74c3c;
}

/* Optional: Style checkbox */
input[type="checkbox"] {
  margin-right: 5px;
}

/* Optional: Add some hover effects */
button:hover,
button[data-action="cancel"]:hover {
  background-color: #2980b9;
}

/* Optional: Responsive adjustments */
@media only screen and (max-width: 600px) {
  form {
    max-width: 100%;
  }
}
